<footer>
    <footer class="siate-footer">
  <div class="footer-acontent">
    <div class="footer-laogo">
      <h2 style="color: white">ЁЭФИсегсе▒ЁЭФдсе▓сеТсе┤се▒ сеХсе▒се▓ЁЭФп</h2>
    </div>
    <p class="footer-copy">┬й 2025 ELEGANCE WEAR. Todos os direitos reservados.</p>
  </div>

</footer>

</body>
</html>